<!-- MESSAGE DECK -->
<div id="messageDeckID" class="col-6 bg-inverse text-dark">
    <!-- <h3 class="text-center text-white"><%=headline%></h3> -->
    <div class="card bg-faded">  <!-- card is a bootstrap element -->
        <ul class="list-group" id="messagesID">
                <!-- <li class="list-group-item">Cras justo odio</li> -->
        </ul>  <!-- element to display messages -->
    </div><br>
    <form id="messageForm" role="form" action="#">
        <div class="row">
            <div class="col-10">
                <input id="newMessageID" class="form-control" placeholder="Enter your message"></input>
            </div>
            <div class="col-2">
                <button type="submit"  id="sendButtonID" class="btn btn-primary">Send</button>                
            </div>  
        </div>
    </form><br>
</div>

<!-- ONLINE USERS -->
<div class="col-2 bg-info text-white d-flex justify-content-center">
        Online Users
</div>