<div class="col-8 bg-inverse text-dark"><br>
        <h2 class="text-center text-white">Welcome to Chat</h2><br>         
        <form id="userForm" role="form" action="#">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <input id="userNameID" class="form-control" placeholder="Enter any User Name"></input>
                </div>
                <div class="col-md-2">
                    <button type="submit"  id="submitButtonID" class="btn btn-primary">Submit</button>                
                </div>  
            </div>
        </form><br>
</div> 