<!DOCTYPE html>
<html lang="en">
<head>
        <title><%=title%></title>
        <% include partials/head.ejs %>
        <style>
            .well
            {
                height:300px;
            }
        </style>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center"><%=headline%></h3>

                <!--Deck to display all messages -->
                <div class="well">  <!-- well is a bootstrap element -->

                        <ul id="messagesID"></ul>  <!-- element to display messages -->

                </div>

                <!-- Form to enter new message and submit -->
                <form>
                    <input id="newMessageID" class="form-control" placeholder="Enter your message"></input>
                    <br/><br/>
                    <div class="text-center"><button type="submit"  id="sendButtonID" class="btn btn-primary">Send</button></div>                
                </form>
            </div>
        </div>
    </div>

    
    <% include partials/jsincludes.ejs %>  <!-- since we use jquery in socket, this comes first to incldue jquery -->

    <!-- Socket IO Client Side Operations -->
    <script src="/socket.io/socket.io.js"></script>
    <script>        
      $(document).ready(    //1. When document is ready
            function()
            {
                //2. Initialize socket
                var socketClient = io();            

                //3. When form button is submitted 
                $("form").submit(
                    function()
                    {
                        //4. Emit socket with "New Message Event" event name and actual new message
                        socketClient.emit( "New Message Event", $("#newMessageID").val());

                        //5. Clear the new message in client form to enable user to enter new message
                        $("#newMessageID").val("");

                        //6. Prevent any default button behaviour further
                        return false; //also event.preventDefault() would do (if you passed event object in submit's callback function)
                    }
                );

                //4. Receive if any broadcast event message from server
                socketClient.on(
                    "Broadcast Event",
                    function(receivedMessage)
                    {
                        //4.1 Update received message in our page
                        var newliElement = $("<li>").text(receivedMessage);     //create a new <li> element
                        $("#messagesID").append(newliElement);                  //append to ul element in our page
                    }
                );    

            }
      );
    </script>

</body>
</html>