<!DOCTYPE html>
<html lang="en">
<head>
        <title><%=title%></title>
        <% include partials/head.ejs %>
        <style>
            .card
            {
                height:200px;
            }
        </style>
</head>
<body>
    
    <div class="container-fluid">

            <% include partials/usernamewindow.ejs %>  

            <% include partials/chatwindow.ejs %>           

    </div>

    
    <% include partials/jsincludes.ejs %>  <!-- since we use jquery in socket, this comes first to incldue jquery -->

    <% include partials/socketscript.ejs %>

</body>
</html>